body {
  font-family: "Roboto", sans-serif;
  font-size: medium;
  color: #212121;
}
h1,
h2 {
  color: #ffffff;
}
p {
  color: #363636;
  font-size: large;
}
ul {
  list-style: disc;
}
.maincontainer {
  padding: 1em;
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.topcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 1em;
}
.intro {
  flex: 0.5;
  padding-left: 5em;
  width: 300px; 
  height: 300px; 
  border-radius: 50%; 
  overflow: hidden;
  border: 2px solid black; 
}
.aboutme {
  flex: 1;
}
.welcome {
  flex: 0.5;
  padding-top: 3em;
  padding-left: 1em;
  font-size: x-large;
}
.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 4em;
}
.github {
  flex: 1;
  margin-left: 5em;
}
.websites {
  flex: 1;
  padding-left: 2em;
  border-left: 1px solid black;
}
.footercontainer {
  color: #ffffff;
  padding-bottom: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: -0.5em;
  background-color: #000000;
}
.headings {
  text-align: center;
  padding: 0.5em;
  margin: -0.5em;
  margin-bottom: -1em;
  background-color: black;
}
.center {
  text-align: center;
}
/*for modal*/
.show-modal {
  padding: 1.75rem 2.5rem;
  border: 1px solid black;
  background-color: #fff;
  color: #444;
  border-radius: 10rem;
  cursor: pointer;
  font-family: roboto, sans-serif;
  font-size: medium;
}
.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}
.hidden {
  display: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem black;
  z-index: 10;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  backdrop-filter: blur(3px);
  z-index: 5;
}
/*for guessing game*/
@import url("https://fonts.googleapis.com/css?family=Roboto'");
.main {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right {
  font-size: 2rem;
}
/* ELEMENTS STYLE */
.number {
  background: #eee;
  color: #333;
  font-size: 5rem;
  width: 10rem;
  /* padding: 3rem 0rem; */
  text-align: center;
  position: relative;
  margin-left: 5em;
}
.between {
  font-size: 1.4rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  margin-right: 5em;
}
.again {
  position: absolute;
  top: 2rem;
  left: 2rem;
}
.guess {
  background: none;
  border: 4px solid #eee;
  font-size: 3rem;
  padding: 2.5rem;
  width: 10rem;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}
.btn {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  padding: 2rem 3rem;
  cursor: pointer;
}
.btn:hover {
  background-color: #ccc;
}
.message {
  margin-bottom: 3rem;
  height: 3rem;
}
.label-score {
  margin-bottom: 2rem;
}

input[type=number]:invalid {
  border: 2px solid red;
  outline: none;
}
