body {
  font-family: garamond, "Times new roman", serif;
  font-size: medium;
  color: #212121;
}
h1,
h2 {
  color: #ffffff;
}
p {
  color: #363636;
  font-size: large;
}
ul {
  list-style: disc;
}
.maincontainer {
  padding: 1em;
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.topcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 1em;
}
.intro {
  flex: 0.5;
  padding-left: 5em;
}
.aboutme {
  flex: 1;
}
.welcome {
  flex: 0.5;
  padding-top: 3em;
  padding-left: 1em;
  font-size: x-large;
}
.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 4em;
}
.github {
  flex: 1;
  margin-left: 5em;
}
.websites {
  flex: 1;
  border-left: 1px solid black;
}
.footercontainer {
  color: #ffffff;
  padding-bottom: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: -0.5em;
  margin-right: -0.5em;
  background-color: #000000;
}
.headings {
  text-align: center;
  padding: 1.5em;
  margin: -0.5em;
  margin-bottom: -1em;
  background-color: black;
}
.center {
  text-align: center;
}
